:root {
  --bg-color: #413d3e;
  --bg-color-dark: #141212;
  --accent-color: #87695f;
  --text-color-light: #f1d9bd;
}

html, body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text-color-light);
  background: var(--bg-color-dark);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.gradient-text {
  text-shadow:  3px 3px 3px #00000044;
	background: linear-gradient(20deg, #66b160, #4ff5ec, #3765cd, #bf5dbb, #770a00);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}